
<div class="panel panel-default panel-hovered panel-stacked mb20">
  <div class="panel-heading">
      
    Servidor
    <md-menu>
      <button aria-label="Abrir menú" md-ink-ripple="" ng-click="openMenu($mdOpenMenu, $event)" class="btn btn-pink btn-xs right">Conectar
        <div class="md-ripple-container"></div>
      </button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="crearservidor($event)">Crear Servidor</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="CerrarServidor($event)">Cerrar Servidor</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="Conectar($event)">Conectar</md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="qrScanear()">QR Scanner</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  <div class="panel-body">
    <md-button aria-label="Crear Servidor" ng-click="crearservidor()">Crear Servidor</md-button>
    <md-button aria-label="Cerrar Servidor" ng-click="CerrarServidor()">Cerrar Servidor</md-button>
    <md-button aria-label="Conectar" ng-click="Conectar()">Conectar</md-button>
    <md-button aria-label="Scanner" ng-click="qrScanear()">QR Scanner</md-button>
  </div>
</div>
<div class="panel panel-default panel-hovered panel-stacked mb20">
  <div class="panel-heading">
      
    Chat público
  </div>
  <div class="panel-body">
    <chat-container-dir></chat-container-dir>
  </div>
</div>