.panel.panel-default.panel-hovered.panel-stacked.mb20
	.panel-heading   
		| Servidor

		md-menu
			button.btn.btn-pink.btn-xs.right(aria-label="Abrir menú" md-ink-ripple="" ng-click="openMenu($mdOpenMenu, $event)")
				| Conectar
				.md-ripple-container
			md-menu-content(width="4")
				md-menu-item
					md-button(ng-click="crearservidor($event)")
						| Crear Servidor
				md-menu-item
					md-button(ng-click="CerrarServidor($event)")
						| Cerrar Servidor
				md-menu-item
					md-button(ng-click="Conectar($event)")
						| Conectar
				md-menu-divider
				md-menu-item
					md-button(ng-click="qrScanear()")
						| QR Scanner


	.panel-body
		md-button(aria-label="Crear Servidor" ng-click="crearservidor()")
			| Crear Servidor
		
		md-button(aria-label="Cerrar Servidor" ng-click="CerrarServidor()")
			| Cerrar Servidor
		
		md-button(aria-label="Conectar" ng-click="Conectar()")
			| Conectar
		
		md-button(aria-label="Scanner" ng-click="qrScanear()")
			| QR Scanner




.panel.panel-default.panel-hovered.panel-stacked.mb20
	.panel-heading   
		| Chat público

	.panel-body

		chat-container-dir



