
<div class="panel panel-default panel-hovered panel-stacked mb20">
  <div class="panel-heading">
      
    Puestos 
  </div>
  <div class="panel-body">
    <md-button ng-click="traerTodosLosExamenes()">Traer todos</md-button>
    <div class="puestos-table-content">
      <table class="table">
        <thead>
          <th style="padding-right: 15px;">Id</th>
          <th>Participante</th>
          <th>Ent</th>
          <th>Categ</th>
          <th>Fecha</th>
          <th>Pregs</th>
          <th>Malas</th>
          <th>Buenas</th>
          <th>Puntaje</th>
        </thead>
        <tbody>
          <tr ng-repeat="examen in examenes">
            <td style="font-size: 7pt;">{{ examen.examen_id }}</td>
            <td> <img ng-src="{{ imagesPath + examen.imagen_nombre }}" style="width: 25px">{{ examen.nombres + ' ' + examen.apellidos }}</td>
            <td> <img ng-src="{{ imagesPath + examen.logo_nombre }}" style="width: 25px">{{ examen.alias_entidad }}</td>
            <td>{{ examen.abrev_categ }}</td>
            <td style="font-size: 7pt;">{{ examen.examen_at }}</td>
            <td>{{ examen.resultados.cantidad_pregs }}</td>
            <td>{{ examen.resultados.cantidad_pregs - examen.resultados.correctas }}</td>
            <td>{{ examen.resultados.correctas }}</td>
            <td>{{ examen.resultados.promedio }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>