div
	md-content.md-padding



		md-input-container(layout="row" layout-align="start center")
			label Idioma: 
			md-select(placeholder="Idioma" ng-model="idiomaPreg")
				md-option(ng-repeat="idioma in idiomas" value="{{idioma.id}}") {{idioma.original}}


		md-tabs.md-dynamic-height.md-border-bottom
			md-tab(label="{{'CATEGORIAS_TITLE'| translate}}")
				div(style="padding: 25px;")
					categorias-dir
			md-tab(label="{{'NIVELES_TITLE'| translate}}")
				div(style="padding: 25px;")
					niveles-dir
			md-tab(label="{{'DISCIPLINA_TITLE'| translate}}")
				div(style="padding: 25px;")
					disciplinas-dir

